@font-face {
    font-family: 'Quicksand';
    src: url(fonts/Quicksand-Regular.ttf);
}


.heading{
    text-align: center;
}

.partai{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
}

.XIIA1 {
    vertical-align: middle;
    width: 13%;
    height: 13%;
    border-radius: 50%;
    margin: 1%;
}

.XIIB1 {
    vertical-align: middle;
    width: 13%;
    height: 13%;
    border-radius: 50%; 
    margin: 1%;
}

.XIIF1 {
    vertical-align: middle;
    width: 13%;
    height: 13%;
    border-radius: 50%; 
    margin: 1%;
}

.XIIG1 {
    vertical-align: middle;
    width: 13%;
    height: 13%;
    border-radius: 50%; 
    margin: 1%;
}

.paslon {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.keii {
    justify-content: center;
    width: 35%;
    height: 35%;
    border-radius: 50%; 
}

.yess {
    justify-content: center;
    width: 35%;
    height: 35%;
    border-radius: 50%; 
}

.div-4 {
    text-align: center;
}

.visi {
    text-align: center;
}
.div-1{
    text-align: justify;
    background-color: antiquewhite;
    height: 7%0px;
    width: 95%;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
}

.div-2 {
    border-radius: 15px;
    text-align: justify;
    background-color: antiquewhite;
    height: 125%;
    width: 95%;
    padding: 10px;
    margin: auto;
}

.div-3 {
    border-radius: 15px;
    text-align: justify;
    background-color: antiquewhite;
    height: 70px;
    width: 95%;
    padding: 10px;
    margin: auto;
}